---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
resources:
  - ./helmrelease.yaml
  - ./vsc.yaml
labels:
  - pairs:
      app.kubernetes.io/name: democratic-csi-local-hostpath
      app.kubernetes.io/instance: democratic-csi-local-hostpath
