---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: authelia
  namespace: infra
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    args: ["--config", "/config/configuration.yaml"]
    controller:
      annotations:
        reloader.stakater.com/auto: "true"
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        hosts:
          - host: &host auth.${ROOT_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    envFrom:
      - secretRef:
          name: authelia-secret
    enableServiceLinks: false
    image:
      repository: ghcr.io/authelia/authelia
      tag: 4.37.5
    persistence:
      config:
        enabled: true
        type: configMap
        name: authelia-configmap
        subPath: configuration.yaml
        mountPath: /config/configuration.yaml
        readOnly: false
    resources:
      requests:
        cpu: 5m
        memory: 10Mi
      limits:
        memory: 100Mi
    service:
      main:
        ports:
          http:
            port: 9091 # TODO: change this to 80 so that policy looks nicer
          metrics:
            enabled: true
            port: 8080
