---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: infra
resources:
  - ./helmrelease.yaml
  - ./secret.sops.yaml
labels:
  - pairs:
      app.kubernetes.io/name: lldap
      app.kubernetes.io/instance: lldap
patchesStrategicMerge:
  - patches/postgresql.yaml
