---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app redis
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: *app
      version: 17.11.6
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    auth:
      enabled: true
      sentinel: false
      password: ${REDIS_PASSWORD}
    master:
      persistence:
        enabled: false
    replica:
      persistence:
        enabled: false
